demo2/src/main/mule/demo2.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="8e795b91-4638-425b-b4f5-73ef5720fb44" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="demo2Flow" doc:id="a1d00db5-4a78-469c-b41f-5289a6bd20f7" >
		<http:listener doc:name="Listener" doc:id="12cc0bb9-37fa-4c33-8456-137907f50f7c" config-ref="HTTP_Listener_config" path="/demo"/>
		<set-payload value='#["hello"]' doc:name="Set Payload" doc:id="15d8ec9e-cd39-40cb-9f60-acb3af305703" />
	</flow>
</mule>
